/Docs/
/Backend/TicTacToeBackend/TicTacToeGameApi/obj
/Backend/TicTacToeBackend/TicTacToeGameApi
/Backend/TicTacToeBackend/.vs/TicTacToeBackend/v16
/Frontend/TicTacToeFrontend/.vs/TicTacToeFrontend/v16
/Frontend/TicTacToeFrontend/TicTacToeFrontend.Console/obj/TicTacToeFrontend.ConsoleApp.csproj.nuget.g.targets
/Frontend/TicTacToeFrontend/TicTacToeFrontend.Console/obj/TicTacToeFrontend.ConsoleApp.csproj.nuget.g.props
/Frontend/TicTacToeFrontend/TicTacToeFrontend.Console/obj/TicTacToeFrontend.ConsoleApp.csproj.nuget.dgspec.json
/Frontend/TicTacToeFrontend/TicTacToeFrontend.Console/obj/TicTacToeFrontend.Console.csproj.nuget.g.targets
/Frontend/TicTacToeFrontend/TicTacToeFrontend.Console/obj/TicTacToeFrontend.Console.csproj.nuget.g.props
/Frontend/TicTacToeFrontend/TicTacToeFrontend.Console/obj/TicTacToeFrontend.Console.csproj.nuget.dgspec.json
/Frontend/TicTacToeFrontend/TicTacToeFrontend.Console/obj/project.nuget.cache
/Frontend/TicTacToeFrontend/TicTacToeFrontend.Console/obj/project.assets.json
/Frontend/TicTacToeFrontend/TicTacToeFrontend.Console/obj/Debug/netcoreapp3.1
